                    <form name="configForm" novalidate>
                      <div class="modal-header">
                        <h3 class="modal-title">設定</h3>
                      </div>
                      <div class="modal-body">
                        <table class="table table-condensed">
                          <tr>
                            <td>デフォルトアカウント:</td>
                            <td>
                              <input type="text" name="address" ng-model="options.address" size="45" placeholder="ripple address" ripple-valid-address>
                              <span style="color:red" ng-show="configForm.address.$error.rippleValidAddress">正しいアドレスではありません</span>
                            </td>
                          </tr>
                          <tr>
                            <td>スリッページ:</td>
                            <td><input type="number" ng-model="options.slipage" size="5" min="0" max="100" required> (%)</td>
                          </tr>
                          <tr>
                            <td>手数料クッション:</td>
                            <td><input type="number" name="fee_cushion" ng-model="options.fee_cushion" size="5" min="1" max="1000" required> <span style="color:red" ng-show="configForm.fee_cushion.$invalid"不正な値/span></td>
                          </tr>
                          <tr>
                            <td>最大手数料: </td>
                            <td><input type="number" ng-model="options.max_fee" size="5" min="0.00001" max="1000" required> XRP</td>
                          </tr>
                          <tr>
                            <td>オーダーブックリミット: </td>
                            <td><input type="number" ng-model="options.orderbook_limit" size="5" min="1" required></td>
                          </tr>
                          <tr>
                            <td>最終レジャーオフセット: </td>
                            <td><input type="number" ng-model="options.last_ledger_offset" size="5" min="1" required></td>
                          </tr>
                        </table>
                        <span style="color:red" ng-show="options.fee_cushion * 0.00001 > options.max_fee">最大手数料は (0.000010 ✕ 手数料クッション) より高い値を設定してください。</span>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" ng-disabled="configForm.$invalid || options.fee_cushion * 0.00001 > options.max_fee" ng-click="ok()">保存</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                      </div>
                    </form>
