                    <form name="gatewayForm">
                      <div class="modal-header">
                        <h3 class="modal-title">ゲートウェイ設定</h3>
                      </div>
                      <div class="modal-body">
                        <table class="table table-condensed">
                          <tr>
                            <td>名前:</td>
                            <td><input type="text" name="name" ng-model="options.name" size="50" autofocus required></td>
                          </tr>
                          <tr>
                            <td>アドレス: </td>
                            <td>
                                <input type="text" name="address" ng-model="options.address" size="50" ripple-valid-address required>
                                <span style="color:red" ng-show="gatewayForm.address.$dirty && gatewayForm.address.$error.rippleValidAddress">正しいアドレスではありません</span>
                            </td>
                          </tr>
                          <tr>
                            <td>通貨: <br>(カンマ区切り)</td>
                            <td>
                                <input type="text" name="currencies" ng-model="options.currencies" size="50" ng-minlength="3" uppercase-only required>
                            </td>
                          </tr>
                        </table>
                        <span style="color:red" ng-show="isDuplicateGateway(options)">重複しています</span>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" ng-disabled="gatewayForm.$invalid || isDuplicateGateway(options)" ng-click="ok()">保存</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                      </div>
                    </form>
