
        <div class="modal-header">
            <h3 class="modal-title">アカウントを生成</h3>
        </div>

        <div class="modal-body">
          <form name="generateAccountForm" nonvalidate>
            シークレットキー: <br>
            <input type="text" name="secret" ng-model="options.secret" size=75 placeholder="seed / privatekey  ( hex / base58 / rfc1751 )" ripple-valid-secret required autofocus>
            <br>
            <span style="color:red" ng-show="generateAccountForm.secret.$dirty && generateAccountForm.secret.$error.rippleValidSecret">正しいシークレットキーではありません</span>
            <br>
          </form><br>
          <button type="button" ng-click="options.secret = generateNewSecret(); options.index = 0;">ランダムなシークレットキーを生成する</button>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="generateAccountForm.$invalid" ng-click="ok()">送信</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
        </div>
