        <div class="modal-header">
            <h3 class="modal-title">シークレットキーを設定</h3>
        </div>
        <div class="modal-body">
          <form name="setWalletSecretForm">
            新しいシークレットキー : <br>
            <input type="text" name="secret" ng-model="options.secret" size=75 placeholder="seed / privatekey  ( hex / base58 / rfc1751 )" ripple-valid-secret required autofocus>
            <br>
            <span style="color:red" ng-show="setWalletSecretForm.secret.$dirty && setWalletSecretForm.secret.$error.rippleValidSecret">正しいシークレットキーではありません</span>
            <br>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="setWalletSecretForm.$invalid" ng-click="ok()">送信</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
        </div>
