                    <form name="serverForm">
                      <div class="modal-header">
                        <h3 class="modal-title">サーバー設定</h3>
                      </div>
                      <div class="modal-body">
                        <table class="table table-condensed">
                          <tr>
                            <td>ホスト名:</td>
                            <td><input type="text" name="host" ng-model="options.host" size=20 placeholder="example.com" required></td>
                          </tr>
                          <tr>
                            <td>ポート番号: </td>
                            <td><input type="number" name="port" ng-model="options.port" size=10 placeholder="443" required></td>
                          </tr>
                          <tr>
                            <td>暗号化: <br>
                            <td><input type="checkbox" ng-model="options.secure" checked></td>
                          </tr>
                          <tr>
                            <td>優先: <br>
                            <td><input type="checkbox" ng-model="options.primary"></td>
                          </tr>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" ng-disabled="serverForm.$invalid" ng-click="ok()">保存</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                      </div>
                    </form>
