                   <div class="modal-header">
                        <h3 class="modal-title">{{options.edit ? 'Edit' : 'Add'}} 与信設定</h3>
                    </div>
                    <div class="modal-body">
                      <form name="editTrustlineForm">
                        <table class="table table-condensed">
                          <tr>
                            <td>通貨:</td>
                            <td><input type="text" name="currency" ng-model="options.currency" size="45" required ng-disabled="options.edit" uppercase-only></td>
                          </tr>
                          <tr>
                            <td>発行者: </td>
                            <td>
                              <input type="text" name="issuer" ng-model="options.account" size="45" ripple-valid-address required ng-disabled="options.edit" uib-typeahead="gateway.address as gateway.name for gateway in gateways | filter: {name: $viewValue, currencies: options.currency}">
                              <span style="color:red" ng-show="editTrustlineForm.issuer.$dirty && editTrustlineForm.issuer.$error.rippleValidAddress">正しいアドレスではありません</span>
                              <span style="color:green" ng-hide="gatewayName(options.account) == options.account">{{gatewayName(options.account)}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td>最大与信枠:</td>
                            <td><input type="text" name="limit" ng-model="options.limit" size="45" required></td>
                          </tr>
                          <tr>
                            <td>入力クオリティ:</td>
                            <td><input type="text" name="quality_in" ng-model="options.quality_in_human" size="45">(1 = 100%)</td>
                          </tr>
                          <tr>
                            <td>出力クオリティ:</td>
                            <td><input type="text" name="quality_out" ng-model="options.quality_out_human" size="45">(1 = 100%)</td>
                          </tr>
                          <tr>
                            <td>その他:</td>
                            <td>
                              <table class="table">
                                <tr>
                                  <td><input type="radio" ng-model="options.no_ripple" ng-value="false" ng-checked="!options.no_ripple">リップリングを許可する</td>
                                  <td><input type="radio" ng-model="options.no_ripple" ng-value="true" ng-checked="!!options.no_ripple">リップリングを許可しない</td>
                                </tr>
                                <tr>
                                  <td><input type="radio" ng-model="options.freeze" ng-value="true" ng-checked="!!options.freeze">凍結</td>
                                  <td><input type="radio" ng-model="options.freeze" ng-value="false" ng-checked="!options.freeze">凍結解除</td>
                                </tr>
                                <tr>
                                  <td colspan="2"><input type="checkbox" ng-model="options.setAuth" ng-value="true" ng-checked="options.authorized">認可設定 (Note: あとから解除することはできません。)</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-disabled="editTrustlineForm.$invalid" ng-click="ok()">送信</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                    </div>
