                    <div class="modal-header">
                        <h3 class="modal-title">合鍵設定</h3>
                    </div>
                    <div class="modal-body">
                      <form name="setRegularKeyForm">
                        合鍵のアドレス: <br>
                        <input type="text" name="regularkey" ng-model="options.regularKey" size=50 ripple-valid-address autofocus placeholder="address">
                        <span style="color:red" ng-show="setRegularKeyForm.regularkey.$dirty && setRegularKeyForm.regularkey.$error.rippleValidAddress">正しいアドレスではありません</span>
                        <br>
                        NOTE: 値を空欄にし送信することで合鍵設定を削除できます。<br>
                      </form>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-disabled="setRegularKeyForm.$invalid" ng-click="ok()">送信</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                    </div>
