<div class="modal-header">
    <h3 class="modal-title">新規注文</h3>
</div>
<div class="modal-body">
  <form name="offerCreateForm" nonvalidate>
    <h4>
        <table class="table table-striped">
            <tr>
                <td>タイプ:</td>
                <td><span style="color: {{options.type=='sell' ? 'red' : 'green'}}">{{options.type == 'sell' ? 'SELL' : 'BUY'}}</span></td>
            </tr>
            <tr>
                <td>数量:</td>
                <td>{{options.qty}} {{options.baseCurrency}}</td>
            </tr>
            <tr>
                <td>価格: </td>
                <td>{{options.price}}</td>
            </tr>
        </table>
        <span style="color:red;" ng-show="priceAlert(options);"> 注意: <br>市場価格から２０％以上乖離しています。</span>
    </h4>
    <hr>

    <table class="table">
        <thead><b>高度な設定:</b></thead>
        <tr>
            <td>有効期限:</td>
            <td><input type="text" size="5" name="expiration" ng-model="options.expiration" placeholder="hour" positive-number> 時間後</td>
        </tr>
    </table>
  </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="offerCreateForm.$invalid" ng-click="ok()">確認</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
</div>
