                    <div class="modal-header">
                        <h3 class="modal-title">アカウント情報編集</h3>
                    </div>
                    <div class="modal-body">
                      <form name="accountSetForm">
                        <table class="table">
                          <tr>
                            <td style="width:20px;"> <input type="checkbox" ng-model='options.editDomain' ng-click="options.domain='';"> </td>
                            <td style="width:110px;"> ドメイン: </td>
                            <td> <input type="text" name="domain" ng-model="options.domain" size=50 ng-disabled="!options.editDomain" placeholder="example.com"> </td>
                          </tr>
                          <tr>
                            <td> <input type="checkbox" ng-model='options.editEmail' ng-click="options.email='';"> </td>
                            <td> メールアドレス: </td>
                            <td> <input type="text" name="email" ng-model="options.email" size=50 ng-disabled="!options.editEmail" placeholder="e.g. abc@mydomain.com"> </td>
                          </tr>
                          <tr>
                            <td> <input type="checkbox" ng-model='options.editTickSize' ng-click="options.tickSize='';"> </td>
                            <td> ティックサイズ: </td>
                            <td> <input type="number" name="tickSize" ng-model="options.tickSize" size=20 ng-disabled="!options.editTickSize" placeholder="0, 3-15" min=0 max=15><span style="color:red" ng-show="accountSetForm.tickSize.$invalid">不正な値</span></td>
                          </tr>
                          <tr>
                            <td> <input type="checkbox" ng-model='options.editTransferRate' ng-click="options.transferRateHumanPercentage='';"> </td>
                            <td> トランスファレート: </td>
                            <td> <input type="number" name="transferRateHumanPercentage" ng-model="options.transferRateHumanPercentage" size=20 ng-disabled="!options.editTransferRate" placeholder="0-100" min=0 max=100> (%) <span style="color:red" ng-show="accountSetForm.transferRateHumanPercentage.$invalid">不正な値</span></td>
                          </tr>
                          <tr>
                            <td> <input type="checkbox" ng-model='options.editMessageKey' ng-click="options.messageKey='';"> </td>
                            <td> メッセージキー: </td>
                            <td>
                              <input type="text" name="messageKey" ng-model="options.messageKey" size=50 ng-disabled="!options.editMessageKey" placeholder="PublicKey in 33-byte Hex" ng-pattern="/^[0-9A-Fa-f]{66}$/">
                              <br>
                              <span style="color:red" ng-show="accountSetForm.messageKey.$invalid">正しいフォーマットではありません</span>
                            </td>
                          </tr>
                        </table>
                        NOTE: 値を空欄にし送信することで設定を削除できます。
                      </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-disabled="accountSetForm.$invalid" ng-click="ok()">送信</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                    </div>
