                    <form name="contactForm">
                      <div class="modal-header">
                        <h3 class="modal-title">連絡帳</h3>
                      </div>
                      <div class="modal-body">
                        <table class="table table-condensed">
                          <tr>
                            <td>名前:</td>
                            <td><input type="text" name="name" ng-model="options.name" size="50" autofocus required></td>
                          </tr>
                          <tr>
                            <td>アドレス: </td>
                            <td>
                                <input type="text" name="address" ng-model="options.address" size="50" ripple-valid-recipient required>
                                <span style="color:red" ng-show="contactForm.address.$dirty && contactForm.address.$error.rippleValidRecipient">正しいアドレスではありません</span>
                            </td>
                          </tr>
                          <tr>
                            <td>宛先タグ: <br>(任意)</td>
                            <td>
                                <input type="number" name="dtag" ng-model="options.dtag" size="10" uint32 ng-disabled='!(isValidAddress(options.address))'>
                                <span style="color:red" ng-show="contactForm.dtag.$invalid">正しい数字ではありません</span>
                            </td>
                          </tr>
                        </table>
                        <span style="color:red" ng-show="isDuplicateContact(options)">重複しています</span>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" ng-disabled="contactForm.$invalid || isDuplicateContact(options)" ng-click="ok()">保存</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                      </div>
                    </form>
