
        <div id="tabSubmit">
          <span style="font-weight:bold; font-size:14pt; padding-right:2em;">アカウント生成: </span>
          <br><br>
          <form name="keyForm" id="keyForm" novalidate>
            <input type="radio" name='from' ng-model="keys.from" value="passphrase"> パスフレーズ &#8194
            <input type="radio" name='from' ng-model="keys.from" value="seed"> シード（シークレットキー） &#8194
            <input type="radio" name='from' ng-model="keys.from" value="private" ng-click="keys.index=undefined"> 秘密鍵  &#8194
            <br>
            <input type="text" size="80" name="secret" placeholder="passphrase / secret / privatekey" ng-model="keys.secret" required>
            <input type="number" size="10" name="index" placeholder="index" ng-model="keys.index" min="0" max="4294967295" uint32 ng-disabled="keys.from == 'private'">
            <br>
            <span style="color:red">{{keys.error}}</span>
            <br>
            <button type="submit" class="btn btn-info" ng-click="generateKeys()">送信</button>
            <button class="btn btn-warning" ng-disabled="keys.from=='passphrase'" ng-click="keysRandom()">ランダム</button>
          </form>
          <br><br>
          <div ng-show="gkeys.seed">
            <span style="font-weight:bold; font-size:12pt;" >シード（シークレットキー）: &#8194</span>
            <input type="radio" name='seedformat' ng-model="keys.seedformat" value="base58"> Base58 &#8194
            <input type="radio" name='seedformat' ng-model="keys.seedformat" value="rfc1751"> RFC1751 &#8194
            <input type="radio" name='seedformat' ng-model="keys.seedformat" value="hex"> Hex &#8194
            <table class="table table-condensed">
              <tr>
                <td style="width:100px">シード（シークレットキー）:</td>
                <td>{{gkeys.seed[keys.seedformat]}}</td>
              </tr>
            </table>
            <br>
          </div>
          <div ng-show="gkeys.account">
            <span style="font-weight:bold; font-size:12pt;">アカウント #{{gkeys.account.index}} &#8194</span>
            <input type="radio" name='priformat' ng-model="keys.priformat" value="base58"> Base58 &#8194
            <input type="radio" name='priformat' ng-model="keys.priformat" value="rfc1751"> RFC1751 &#8194
            <input type="radio" name='priformat' ng-model="keys.priformat" value="hex"> Hex &#8194
            <table class="table table-condensed">
              <tr>
                <td style="width:100px">秘密鍵:</td>
                <td>{{gkeys.account['prikey_' + keys.priformat]}}</td>
              </tr>
              <tr>
                <td>公開鍵:</td>
                <td>{{gkeys.account.pubkey_hex}}</td>
              </tr>
              <tr>
                <td>アドレス:</td>
                <td>{{gkeys.account.address}}</td>
              </tr>
            </table>
            <form>
              <button ng-click="generateChild()">子アカウントを生成</button>
              <input type="number" size="5" name="childIndex" placeholder="index" ng-model="gkeys.childIndex" min="0" max="4294967295" uint32>
              <input type="checkbox" name="hardened" ng-model="gkeys.childHardened">
              強化
            </form>
          </div>
          <div ng-show="gkeys.child">
            <span style="font-weight:bold;">子アカウント #{{gkeys.child.index}}</span>
            <table class="table table-condensed">
              <tr>
                <td style="width:100px">秘密鍵:</td>
                <td>{{gkeys.child['prikey_' + keys.priformat]}}</td>
              </tr>
              <tr>
                <td>公開鍵:</td>
                <td>{{gkeys.child.pubkey_hex}}</td>
              </tr>
              <tr>
                <td>アドレス:</td>
                <td>{{gkeys.child.address}}</td>
              </tr>
            </table>
          </div>

        </div>
