<div id="tabOffers">
	<span style="font-weight:bold; font-size:20pt; padding-right:1em;">注文一覧: </span>
	<button class="btn btn-warning" ng-click="getAccountOffers();" ng-disabled="!activeAccount"><span class="glyphicon glyphicon-refresh"></span>  更新 </button> {{accountOffers.status}}
	<br><br>

	<div uib-alert ng-repeat="alert in alerts.offer" class="alert-{{alert.status == 'FINAL' ? (alert.status_code.slice(0,3) == 'tes' ? 'success' : 'danger') : 'warning'}}" close="closeAlert('offer', $index)" dismiss-on-timeout="30000">
		{{alert.description}} <br>
		<b>Status:</b>[{{alert.status}}{{alert.status_code ? ', ' +  alert.status_code : ''}}],
		<b>Result:</b> {{alert.result}} <br>
		{{alert.tx_hash ? 'tx_hash: ' + alert.tx_hash : ''}}
	</div>

	<table class="table table-striped" style="text-align:center;">
		<tr>
			<th style="text-align:center;">タイプ</th>
			<th style="text-align:center;">ベース通貨数量</th>
			<th style="text-align:center;">カウンター通貨数量</th>
			<th style="text-align:center;">@ 価格</th>
			<th style="text-align:center;">有効期限</th>
			<th style="text-align:center;"></th>
		</tr>
		<tr ng-repeat="offer in accountOffers.offers track by offer.seq">
			<td><span style="color: {{offerIsSell(offer) ? 'red' : 'green'}};"> {{offerIsSell(offer) ? 'Sell' : 'Buy'}} </span></td>
			<td>{{offerIsSell(offer) ? amountDisplay(offer.taker_gets) : amountDisplay(offer.taker_pays)}}</td>
			<td>{{offerIsSell(offer) ? amountDisplay(offer.taker_pays) : amountDisplay(offer.taker_gets)}}</td>
			<td>{{offerIsSell(offer) ? offerPriceToHuman(offer, true).toPrecision(5) : offerPriceToHuman(offer, false).toPrecision(5)}}</td>
			<td>{{offer.expiration ? offerExpireHour(offer).toFixed(2) + ' hour' : '-' }}
			<td>
				<a href="#" ng-click="prepareOfferEdit({type: offerIsSell(offer) ? 'sell' : 'buy', offer:offer}, true)"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="#" ng-click="prepareOfferCancel({type: offerIsSell(offer) ? 'sell' : 'buy', offer:offer}, true)"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
		<tr ng-show="accountOffers.offers && accountOffers.offers.length === 0">
			<td colspan="5" align="center">
				 == 注文はありません ==
			</td>
		</tr>
	</table>

</div>
