        <div id="tabSettings">
		    <span style="font-weight:bold; font-size:20pt; padding-right:1em;">ウォレット設定: </span>
		    <br><br>
		    <uib-tabset type="pills">
		    	<uib-tab heading="連絡帳">
		    		<table class="table table-striped">
			            <tr>
				            <th>名前</th>
				            <th>アドレス</th>
				            <th style="text-align: center">宛先タグ</th>
				            <th style="text-align: center">
				            	<button class="btn btn-info" ng-click="addContact()">新規追加</button>
				            </th>
			            </tr>
			            <tr ng-repeat="contact in contacts | orderBy:'name' track by contact.name">
			            	<td>{{contact.name}}</td>
			            	<td>{{contact.address}}</td>
			            	<td style="text-align: center">{{contact.dtag == undefined ? '-' : contact.dtag}}</td>
							<td style="text-align: center">
								<button type="button" ng-click="pay(contact)">Pay</button>
								<a href="#" ng-click="editContact(contact, $index)"><span class="glyphicon glyphicon-edit"></span></a>
								<a href="#" ng-click="deleteContact(contact)"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
			            </tr>
		    		</table>
		    	</uib-tab>
		    	<uib-tab heading="ゲートウェイ">
		    		<table class="table table-striped">
			            <tr>
				            <th>名前</th>
				            <th>アドレス</th>
				            <th style="text-align: center">通貨</th>
				            <th style="text-align: center">
				            	<button class="btn btn-info" ng-click="addGateway()">新規追加</button>
				            </th>
			            </tr>
			            <tr ng-repeat="gateway in gateways | orderBy:'name' track by gateway.name">
			            	<td>{{gateway.name}}</td>
			            	<td>{{gateway.address}}</td>
			            	<td style="text-align: center">{{gateway.currencies.join(', ')}}</td>
							<td style="text-align: center">
								<a href="#" ng-click="editGateway(gateway, $index)"><span class="glyphicon glyphicon-edit"></span></a>
								<a href="#" ng-click="deleteGateway(gateway)"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
			            </tr>
		    		</table>
		    	</uib-tab>
		    	<uib-tab heading="取引ペア">
		    		<table class="table table-striped">
			            <tr>
				            <th>ベース通貨</th>
				            <th>カウンター通貨</th>
				            <th style="text-align: center">
				            	<button class="btn btn-info" ng-click="prepareTradePair()">新規追加</button>
				            </th>
			            </tr>
			            <tr ng-repeat="pair in tradepairs track by $index">
			            	<td>{{pairName(pair).split('/')[0]}}</td>
			            	<td>{{pairName(pair).split('/')[1]}}</td>
							<td style="text-align: center">
								<a href="#" ng-click="editTradePair(pair, $index)"><span class="glyphicon glyphicon-edit"></span></a>
								<a href="#" ng-click="deleteTradePair($index)"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
			            </tr>
		    		</table>
		    	</uib-tab>
		    	<uib-tab heading="サーバー">
		    		<table class="table">
			            <tr>
				            <th>ホスト名</th>
				            <th>ポート版語彙</th>
				            <th style="text-align: center">暗号化</th>
				            <th style="text-align: center">優先</th>
				            <th style="text-align: center">
				            	<button class="btn btn-info" ng-click="addServer({secure:true})">新規追加</button>
				            </th>
			            </tr>
			            <tr ng-repeat="server in servers track by $index">
			            	<td>{{server.host}}</td>
			            	<td>{{server.port}}</td>
			            	<td style="text-align: center">{{server.secure}}</td>
			            	<td style="text-align: center">{{server.primary ? '&#10004' : ''}}</td>
							<td style="text-align: center">
								<a href="#" ng-click="editServer(server, $index)"><span class="glyphicon glyphicon-edit"></span></a>
								<a href="#" ng-click="deleteServer($index)"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
			            </tr>
		    		</table>
		    	</uib-tab>
		    	<uib-tab heading="設定">
		    		<table class="table table-condensed">
		    			<tr>
		    				<td>デフォルトアカウント:</td>
		    				<td>{{$storage.account.address || '-'}}</td>
		    			</tr>
		    			<tr>
		    				<td>スリッページ:</td>
		    				<td>{{$storage.slipage}} %</td>
		    			</tr>
		    			<tr>
		    				<td>手数料クッション:</td>
		    				<td>{{$storage.fee_cushion}}</td>
		    			</tr>
		    			<tr>
		    				<td>最大手数料: </td>
		    				<td>{{$storage.max_fee / 1000000}} XRP</td>
		    			</tr>
		    			<tr>
		    				<td>オーダーブック最大注文数: </td>
		    				<td>{{$storage.orderbook_limit}}</td>
		    			</tr>
		    			<tr>
		    				<td>最終レジャーオフセット: </td>
		    				<td>{{$storage.last_ledger_offset}}</td>
		    			</tr>
		    		</table>
			        <span style="float:right">
			            <button class="btn btn-info" type="submit" ng-disabled="configForm.$invalid" ng-click="editConfig()">編集</button>
			        </span>
		    	</uib-tab>
		    	<uib-tab heading="インポート・エクスポート">
		    		<table class="table table-condensed">
		    			<tr>
		    				<td style="text-align: center">エクスポート: </td>
		    				<td>
		    					<input type="text" size="20" ng-model="filename">
			    				<button ng-click="exportProfile()">保存</button>
			    			</td>
		    			</tr>
		    			<tr>
		    				<td style="text-align: center">インポート: </td>
		    				<td>
		    					<input type="file" onchange="angular.element(this).scope().fileNameChanged(this)">
		    					{{uploaded}}
		    				</td>
		    			</tr>
		    		</table>
		    	</uib-tab>
		    </uib-tabset>
        </div>
