        <div id="tabTrustlines">
          <span style="font-weight:bold; font-size:20pt; padding-right:1em;">与信設定: </span>
          <button class="btn btn-warning" ng-click="accountLines(); search.currency='';" ng-disabled="!activeAccount"><span class="glyphicon glyphicon-refresh"></span>  更新 </button> {{accountLinesStatus}}
          <br><br>
          <b>与信設定数 = {{trustlinesStats ? totalTrustlines : ""}}</b>
          <br><br>
          <b>残高合計: </b>
          <span style="padding-left:3em"> <input type="checkbox" ng-model="trustlineStatsIgnoreZero"> 残高の無いものを非表示</span>
          <table style="width:500px;" class="table table-bordered">
            <tr>
              <th>通貨</th><th>与信設定数</th><th>残高</th>
            </tr>
            <tr ng-repeat="(key, value) in trustlinesStats" ng-hide="trustlineStatsIgnoreZero? value.balance == '0' : false">
              <td>{{currencyName(key)}}</td> <td align="center">{{value.lineNumber}}</td><td>{{value.balance}}</td>
            </tr>
          </table>

          <div uib-alert ng-repeat="alert in alerts.trustline" class="alert-{{alert.status == 'FINAL' ? (alert.status_code.slice(0,3) == 'tes' ? 'success' : 'danger') : 'warning'}}" close="closeAlert('trustline', $index)" dismiss-on-timeout="30000">
            {{alert.description}} <br>
            <b>Status:</b>[{{alert.status}}{{alert.status_code ? ', ' +  alert.status_code : ''}}],
            <b>Result:</b> {{alert.result}} <br>
            {{alert.tx_hash ? 'tx_hash: ' + alert.tx_hash : ''}}
          </div>

          <b>与信設定一覧: </b>
          <span style="padding-left:1em;"> 通貨フィルター: </span>
          <select ng-model="search.currency">
            <option value="">- すべて -</option>
            <option ng-repeat="(key, value) in trustlinesStats" value="{{key}}">{{currencyName(key)}}</option>
          </select>
          <span style="padding-left:1em"> <input type="checkbox" ng-model="trustlineDescending"> 降順</span>
          <span style="padding-left:1em"> <input type="checkbox" ng-model="trustlineIgnoreZero"> 残高の無いものを非表示</span>
          <span style="padding-left:1em"> <input type="checkbox" ng-model="trustlineShowFull"> 詳細表示</span>

          <span style="float:right">
            <button class="btn btn-info" ng-click="addTrustline()">与信設定を追加</button>
          </span>
          <br>

          <table border="1" cellpadding="5" cellspacing="0" class="table table-bordered table-striped" style="text-align: center">
            <tr style="text-align: center">
              <th style="text-align: center">通貨</th>
              <th style="text-align: center">発行者</th>
              <th style="text-align: center">残高</th>
              <th style="text-align: center" ng-show="trustlineShowFull">相手 リップリング / 凍結 / 認可</th>
              <th style="text-align: center" ng-show="trustlineShowFull">相手 最大与信枠</th>
              <th style="text-align: center">最大与信枠</th>
              <th style="text-align: center" ng-show="trustlineShowFull">Self リップリング / 凍結 / 認可</th>
              <th style="text-align: center" ng-show="trustlineShowFull">入力クオリティ</th>
              <th style="text-align: center" ng-show="trustlineShowFull">出力クオリティ</th>
              <th style="text-align: center">編集</th>
            </tr>
            <tr ng-repeat="line in trustlines | filter:search | orderBy:'balance':trustlineDescending" ng-hide="trustlineIgnoreZero? line.balance == 0 : false">
              <td>{{currencyName(line.currency)}}</td>
              <td style="text-align:left">{{gatewayName(line.account)}}</td>
              <td style="text-align:right">{{amountDisplay({currency: line.currency, value: line.balance, }, {value: true})}}</td>
              <td style="text-align:center" ng-show="trustlineShowFull">
                <font color="{{line.no_ripple_peer ? 'green' : 'red'}}">{{line.no_ripple_peer ? "&#10008" : "&#10004"}} </font> /
                <font color="{{line.freeze_peer ? 'red' : 'green'}}">{{line.freeze_peer ? "&#10004" : "&#10008"}} </font> /
                <font color="{{line.peer_authorized ? 'green' : 'blue'}}">{{line.peer_authorized ? "&#10004" : "&#10008"}}</font></td>
              <td style="text-align:right" ng-show="trustlineShowFull"> {{line.limit_peer}}</td>
              <td style="text-align:right"> {{line.limit}}</td>
              <td style="text-align:center" ng-show="trustlineShowFull">
                <font color="{{line.no_ripple ? 'green' : 'red'}}">{{line.no_ripple ? '&#10008' : '&#10004'}} </font> /
                <font color="{{line.freeze ? 'red' : 'green'}}"> {{line.freeze ? '&#10004' : '&#10008' }} </font> /
                <font color="{{line.authorized ? 'green' : 'blue'}}"> {{line.authorized ? '&#10004': '&#10008'}} </font>
              </td>
              <td style="text-align:right" ng-show="trustlineShowFull">{{line.quality_in ? line.quality_in / 1e9 : 1}}</td>
              <td style="text-align:right" ng-show="trustlineShowFull">{{line.quality_out ? line.quality_out / 1e9 : 1}}</td>
              <td style="text-align:center">
              <button class="btn btn-link" ng-click="editTrustline(line)">編集 <span class="glyphicon glyphicon-edit"></span></button>
              </td>
            </tr>
          </table>
          <br>

        </div>
