              <table class="table table-bordered">
                <tr>
                  <td>
                    OfferSequence
                  </td>
                  <td>
                    <input type="number" size="50" name="OfferSequence" placeholder="uint32" ng-model="txJson.OfferSequence" uint32 ng-required="txJson.TransactionType == 'OfferCancel'">
                  </td>
                </tr>
              </table>
